/*Car Trivia Game*/

body {
    background-image: url(../images/tic-tac-toe.png);
}

h1 {
    color: rgb(28, 205, 250);
    margin: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

h3 {
    color: rgb(28, 205, 250);
    margin: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.timer-div {
    color: rgb(250, 49, 49);
    margin: 15px;
    font-family: 'Exo', sans-serif;
}

.question-div {
    margin: 15px;
    font-family: 'Exo', sans-serif;
}

.content-div {
    margin: 15px;
    font-family: 'Exo', sans-serif;
    
}

footer {
    color: rgb(28, 205, 250);
    margin: 250px;
    font-family: 'Pacifico', cursive;
}